html
    head
        title= title
        meta(property='og:url' content=ogUrl)
        meta(property='og:title' content=ogTitle)
        meta(property='og:type' content=ogType)
        meta(property='og:image' content=ogImage)
        meta(property='og:description' content=ogDescription)
        meta(property='og.follows')
        meta(property='fb:app_id' content='279875379221772')
    body
        script
            include og-pages.js

        div(
            class="fb-like"
            data-href="https://www.your-domain.com/your-page.html"
            data-layout="standard"
            data-action="like"
            data-show-faces="true"
        )

